@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
  box-sizing: border-box;
}


html {
  /* font-size: 62.5%; */
  font-size: 82%;

  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

#App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 1 5rem;
  background-color: #203040;
  color: #ffffff;
  padding: 0.5rem;
}

main {
  flex: 1 1 auto;
}

footer {
  
  flex: 0 1 5rem;
  background-color: #203040;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;

  
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  /* flex: 1 1 auto; */
  flex: 3 60rem;
  /* border: 2px yellow solid; */
}

.sidebar {
  /* flex: 0 0 400px; */
  flex: 1 0 20rem;
  /* border: 2px solid red; */
  padding-left: 1rem;
}

/* products */

.products {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.products li {
  flex: 0 1 26rem;
  padding: .7rem 0;
  margin: .7rem;
  height: 38rem;
  /* border: 1px solid  */
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  /* min-width: 100%; */
  display: block;
  width: 100%;
  height: 360px;
}

.product p {
  font-size: 1.4rem;
}

.product-body {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.product-body span {
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 3rem;
  flex: 1;
  text-align: center;
}

.product-body button {
  flex: 1;
  text-align: center;
}

.button {
  padding: .7rem 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}

/* Filter */

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem #c0c0c0 solid;
  margin: 1rem;
  padding: 1.5rem 0;
}

.filter > div {
  font-size: 1.4rem;
  font-weight: bold;
}

/* cart */
.cart {
  margin: 1rem;
  padding: 1.5rem 0;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
  font-size: 1.7rem;
}



.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-top {
  display: flex;
  
}

.cart-items img {
  width: 4.5rem;
  padding-right: .5rem;
}

.cart-items li {
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
}

.right {
  text-align: right;
}

.right button {
  font-size: 1.2rem;
  padding: .3rem 1rem;
}

.total {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.total > div,
.total > button {
  flex: 1;
  text-align: center;
}

/* Checkout form */
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: .7rem;
  border: 0.1rem #c0c0c0 solid;
}

/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 83vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* spinner */

.spinner {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: green;
}
/* Orders */
.orders {
  width: 100%;
  padding: 10px;
}


/* media query */

@media screen and (max-width: 1025px) {
  .cart-header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 769px) {
    .content {
      flex-direction: column;
    }

    .sidebar {
      margin-bottom: 2rem;
    }
}

@media screen and (max-width: 540px) {
    .product-details img {
        max-width: 100%;  
    }
    .product-details-description {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 376px) {
    .filter > div {
      font-size: 1.1rem;
    }
    .product-details-description {
        
        margin: 0;
    }
    
}

