@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  /* font-size: 62.5%; */
  font-size: 82%;

  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

#App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 1 5rem;
  background-color: #203040;
  color: #ffffff;
  padding: 0.5rem;
}

main {
  flex: 1 1 auto;
}

footer {
  
  flex: 0 1 5rem;
  background-color: #203040;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;

  
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  /* flex: 1 1 auto; */
  flex: 3 60rem;
  /* border: 2px yellow solid; */
}

.sidebar {
  /* flex: 0 0 400px; */
  flex: 1 20rem;
  /* border: 2px solid red; */
  padding-left: 1rem;
}





